<%= form_for([@business, @gift_certificate]) do |f| %>
    <% if @gift_certificate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gift_certificate.errors.count, "error") %> prohibited this Gift Certificate from being saved:</h2>

          <ul>
            <% @gift_certificate.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

     <%= f.fields_for :prices do |price| %>
       <%= price.label :amount, 'Current Amount' %><br />
       <%= price.number_field :amount %><br />
     <% end %>
     
     <%= f.fields_for :comments do |comment| %>
       <%= comment.label :comment, 'Certificate Comment', message: "Please fill this out" %><br />
       <%= comment.text_area :comment %>
     <% end %>
     

    <br />   
    <div class="actions">
      <%= f.submit 'Redeem Gift Certificate' %>
    </div>

<% end %>
